@media screen and (max-width: 1024px) {
    .grid-text h2 {
      grid-column-start: 1;
      grid-column-end: 13;
    }
    .grid-text p {
      grid-column-start: 2;
      grid-column-end: 12;
    }
    .grid-text div {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
  @media screen and (max-width: 720px) {
    .container-base {
      padding-left: 24px;
      padding-right: 24px;
    }
    header p {
      display: none;
    }
    .hero-mobile {
      display: inherit;
    }
    .bio-link p {
      display: none;
    }
    .arrow-up {
      display: inherit;
      opacity: 0.7;
    }
    .back {
      opacity: 1;
    }
    .grid-text {
      padding-top: 4px;
      padding-bottom: 0px;
    }
    .grid-text p {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
  @media screen and (max-width: 510px) {
    .container-base {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media screen and (max-width: 320px) {
    .bio-link .ico-img {
      display: none;
    }
  }
  