.pad-top-8 {
    padding-top: 8px;
  }
  .pad-bot-8 {
    padding-bottom: 8px;
  }
  .pad-top-16 {
    padding-top: 16px;
  }
  .pad-bot-16 {
    padding-bottom: 16px;
  }
  .pad-top-20 {
    padding-top: 20px;
  }
  .pad-bot-20 {
    padding-bottom: 20px;
  }
  .pad-top-24 {
    padding-top: 24px;
  }
  .pad-bot-24 {
    padding-bottom: 24px;
  }
  .pad-top-60 {
    padding-top: 60px;
  }
  .pad-bot-60 {
    padding-bottom: 60px;
  }